node_red.json
[
    {
        "id": "b17fe93b691a0413",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "44844f2c50e92688",
        "type": "group",
        "z": "b17fe93b691a0413",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ea200280c835bfd0",
            "dff09a2202406ad9",
            "567e27731d6728d2",
            "46c2f92aebaa8e2c",
            "b19de87e99cc01ac"
        ],
        "x": 334,
        "y": 79,
        "w": 512,
        "h": 122
    },
    {
        "id": "16aa425e74da8cf3",
        "type": "group",
        "z": "b17fe93b691a0413",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a6e5588014f2f5ec",
            "b60e9dd0a5778521",
            "17169d98ce983599",
            "20fcf62bc8eeff66",
            "c4489b4a0ccd98f3"
        ],
        "x": 334,
        "y": 239,
        "w": 532,
        "h": 122
    },
    {
        "id": "0a4e7ca285d568e3",
        "type": "group",
        "z": "b17fe93b691a0413",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "9c3733843947a9ec",
            "3096ab660b883700",
            "c345fdafa2043ab5",
            "7a2f79bafaccf511",
            "efc31d35e11a0508"
        ],
        "x": 334,
        "y": 399,
        "w": 532,
        "h": 122
    },
    {
        "id": "a6c26e6eb0a7b074",
        "type": "group",
        "z": "b17fe93b691a0413",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "8b0d216dd937d6d8",
            "4805de31a89b8934",
            "2f578e49ba213284",
            "02621df4ea75e357",
            "793e61ebd79f56c8",
            "bcf8f61f778fa84d"
        ],
        "x": 334,
        "y": 559,
        "w": 512,
        "h": 122
    },
    {
        "id": "949e4a0305af9a81",
        "type": "group",
        "z": "b17fe93b691a0413",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "7f56c12e00d354bd",
            "3afb6e3961350d61",
            "3efe1f2aa9c696d4",
            "6a875458b7fdf6f3",
            "2e0f76c66e9b9f4d",
            "bf6f429fed380419"
        ],
        "x": 334,
        "y": 719,
        "w": 492,
        "h": 122
    },
    {
        "id": "a86b0c43737a4956",
        "type": "group",
        "z": "b17fe93b691a0413",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "76a45739ebec1c5e",
            "5a6bc7e0a2904f59",
            "3566780bc7fe54f2",
            "a484ab06f72a413e",
            "fdbe71cca8c1ccda",
            "4c5ee03254f9181b"
        ],
        "x": 334,
        "y": 879,
        "w": 512,
        "h": 122
    },
    {
        "id": "ea200280c835bfd0",
        "type": "function",
        "z": "b17fe93b691a0413",
        "g": "44844f2c50e92688",
        "name": "temp fonc",
        "func": "let data = JSON.parse(msg.payload);\nmsg.topic = \"INSERT INTO mesures (temperature, date) VALUES (?, NOW())\";\nmsg.payload = [data.temp];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 160,
        "wires": [
            [
                "dff09a2202406ad9"
            ]
        ]
    },
    {
        "id": "dff09a2202406ad9",
        "type": "mysql",
        "z": "b17fe93b691a0413",
        "g": "44844f2c50e92688",
        "mydb": "9e13d4612c44da61",
        "name": "",
        "x": 770,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "567e27731d6728d2",
        "type": "inject",
        "z": "b17fe93b691a0413",
        "g": "44844f2c50e92688",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "moyenne temp timer",
        "payload": "",
        "payloadType": "date",
        "x": 450,
        "y": 120,
        "wires": [
            [
                "b19de87e99cc01ac"
            ]
        ]
    },
    {
        "id": "46c2f92aebaa8e2c",
        "type": "mysql",
        "z": "b17fe93b691a0413",
        "g": "44844f2c50e92688",
        "mydb": "9e13d4612c44da61",
        "name": "",
        "x": 770,
        "y": 120,
        "wires": [
            [
                "e53dc73c462080b3"
            ]
        ]
    },
    {
        "id": "b19de87e99cc01ac",
        "type": "function",
        "z": "b17fe93b691a0413",
        "g": "44844f2c50e92688",
        "name": "moyenne temp",
        "func": "msg.topic = `\n  SELECT ROUND(AVG(temperature), 2) AS moyenne_temp\n  FROM mesures\n  WHERE date >= NOW() - INTERVAL 5 MINUTE\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 120,
        "wires": [
            [
                "46c2f92aebaa8e2c"
            ]
        ]
    },
    {
        "id": "a6e5588014f2f5ec",
        "type": "function",
        "z": "b17fe93b691a0413",
        "g": "16aa425e74da8cf3",
        "name": "humidite fonc",
        "func": "let data = JSON.parse(msg.payload);\nmsg.topic = \"INSERT INTO mesures (humidite, date) VALUES (?, NOW())\";\nmsg.payload = [data.temp];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 320,
        "wires": [
            [
                "b60e9dd0a5778521"
            ]
        ]
    },
    {
        "id": "b60e9dd0a5778521",
        "type": "mysql",
        "z": "b17fe93b691a0413",
        "g": "16aa425e74da8cf3",
        "mydb": "9e13d4612c44da61",
        "name": "",
        "x": 790,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "17169d98ce983599",
        "type": "inject",
        "z": "b17fe93b691a0413",
        "g": "16aa425e74da8cf3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "moyenne humidité timer",
        "payload": "",
        "payloadType": "date",
        "x": 450,
        "y": 280,
        "wires": [
            [
                "c4489b4a0ccd98f3"
            ]
        ]
    },
    {
        "id": "20fcf62bc8eeff66",
        "type": "mysql",
        "z": "b17fe93b691a0413",
        "g": "16aa425e74da8cf3",
        "mydb": "9e13d4612c44da61",
        "name": "",
        "x": 790,
        "y": 280,
        "wires": [
            [
                "45f74052abcba61b"
            ]
        ]
    },
    {
        "id": "c4489b4a0ccd98f3",
        "type": "function",
        "z": "b17fe93b691a0413",
        "g": "16aa425e74da8cf3",
        "name": "moyenne humidite",
        "func": "msg.topic = `\n  SELECT ROUND(AVG(humidite), 2) AS moyenne_humidite\n  FROM mesures\n  WHERE date >= NOW() - INTERVAL 5 MINUTE\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 280,
        "wires": [
            [
                "20fcf62bc8eeff66"
            ]
        ]
    },
    {
        "id": "9c3733843947a9ec",
        "type": "function",
        "z": "b17fe93b691a0413",
        "g": "0a4e7ca285d568e3",
        "name": "pression fonc",
        "func": "let data = JSON.parse(msg.payload);\nmsg.topic = \"INSERT INTO mesures (pression, date) VALUES (?, NOW())\";\nmsg.payload = [data.temp];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 480,
        "wires": [
            [
                "3096ab660b883700"
            ]
        ]
    },
    {
        "id": "3096ab660b883700",
        "type": "mysql",
        "z": "b17fe93b691a0413",
        "g": "0a4e7ca285d568e3",
        "mydb": "9e13d4612c44da61",
        "name": "",
        "x": 790,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "c345fdafa2043ab5",
        "type": "inject",
        "z": "b17fe93b691a0413",
        "g": "0a4e7ca285d568e3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "moyenne pression timer",
        "payload": "",
        "payloadType": "date",
        "x": 450,
        "y": 440,
        "wires": [
            [
                "efc31d35e11a0508"
            ]
        ]
    },
    {
        "id": "7a2f79bafaccf511",
        "type": "mysql",
        "z": "b17fe93b691a0413",
        "g": "0a4e7ca285d568e3",
        "mydb": "9e13d4612c44da61",
        "name": "",
        "x": 790,
        "y": 440,
        "wires": [
            [
                "632fd8efd4e29291"
            ]
        ]
    },
    {
        "id": "efc31d35e11a0508",
        "type": "function",
        "z": "b17fe93b691a0413",
        "g": "0a4e7ca285d568e3",
        "name": "moyenne pression",
        "func": "msg.topic = `\n  SELECT ROUND(AVG(pression), 2) AS moyenne_pression\n  FROM mesures\n  WHERE date >= NOW() - INTERVAL 5 MINUTE\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 440,
        "wires": [
            [
                "7a2f79bafaccf511"
            ]
        ]
    },
    {
        "id": "8b0d216dd937d6d8",
        "type": "mqtt in",
        "z": "b17fe93b691a0413",
        "g": "a6c26e6eb0a7b074",
        "name": "Qair ",
        "topic": "capteur/Qair ",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "16f1c4c15983079e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 430,
        "y": 640,
        "wires": [
            [
                "4805de31a89b8934"
            ]
        ]
    },
    {
        "id": "4805de31a89b8934",
        "type": "function",
        "z": "b17fe93b691a0413",
        "g": "a6c26e6eb0a7b074",
        "name": "Qair fonc",
        "func": "let data = JSON.parse(msg.payload);\nmsg.topic = \"INSERT INTO mesures (co2 , date) VALUES (?, NOW())\";\nmsg.payload = [data.temp];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 640,
        "wires": [
            [
                "2f578e49ba213284"
            ]
        ]
    },
    {
        "id": "2f578e49ba213284",
        "type": "mysql",
        "z": "b17fe93b691a0413",
        "g": "a6c26e6eb0a7b074",
        "mydb": "9e13d4612c44da61",
        "name": "",
        "x": 770,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "02621df4ea75e357",
        "type": "inject",
        "z": "b17fe93b691a0413",
        "g": "a6c26e6eb0a7b074",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "moyenne Qair timer",
        "payload": "",
        "payloadType": "date",
        "x": 450,
        "y": 600,
        "wires": [
            [
                "bcf8f61f778fa84d"
            ]
        ]
    },
    {
        "id": "793e61ebd79f56c8",
        "type": "mysql",
        "z": "b17fe93b691a0413",
        "g": "a6c26e6eb0a7b074",
        "mydb": "9e13d4612c44da61",
        "name": "",
        "x": 770,
        "y": 600,
        "wires": [
            [
                "a742770e4462f204"
            ]
        ]
    },
    {
        "id": "bcf8f61f778fa84d",
        "type": "function",
        "z": "b17fe93b691a0413",
        "g": "a6c26e6eb0a7b074",
        "name": "moyenne Qair ",
        "func": "msg.topic = `\n  SELECT ROUND(AVG(co2), 2) AS moyenne_co2\n  FROM mesures\n  WHERE date >= NOW() - INTERVAL 5 MINUTE\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 600,
        "wires": [
            [
                "793e61ebd79f56c8"
            ]
        ]
    },
    {
        "id": "7f56c12e00d354bd",
        "type": "mqtt in",
        "z": "b17fe93b691a0413",
        "g": "949e4a0305af9a81",
        "name": "lux",
        "topic": "capteur/lux",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "16f1c4c15983079e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 430,
        "y": 800,
        "wires": [
            [
                "3afb6e3961350d61"
            ]
        ]
    },
    {
        "id": "3afb6e3961350d61",
        "type": "function",
        "z": "b17fe93b691a0413",
        "g": "949e4a0305af9a81",
        "name": "lux fonc",
        "func": "let data = JSON.parse(msg.payload);\nmsg.topic = \"INSERT INTO mesures (lux, date) VALUES (?, NOW())\";\nmsg.payload = [data.temp];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 800,
        "wires": [
            [
                "3efe1f2aa9c696d4"
            ]
        ]
    },
    {
        "id": "3efe1f2aa9c696d4",
        "type": "mysql",
        "z": "b17fe93b691a0413",
        "g": "949e4a0305af9a81",
        "mydb": "9e13d4612c44da61",
        "name": "",
        "x": 750,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "6a875458b7fdf6f3",
        "type": "inject",
        "z": "b17fe93b691a0413",
        "g": "949e4a0305af9a81",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "moyenne lux timer",
        "payload": "",
        "payloadType": "date",
        "x": 450,
        "y": 760,
        "wires": [
            [
                "bf6f429fed380419"
            ]
        ]
    },
    {
        "id": "2e0f76c66e9b9f4d",
        "type": "mysql",
        "z": "b17fe93b691a0413",
        "g": "949e4a0305af9a81",
        "mydb": "9e13d4612c44da61",
        "name": "",
        "x": 750,
        "y": 760,
        "wires": [
            [
                "abf0cb6231c56b46"
            ]
        ]
    },
    {
        "id": "bf6f429fed380419",
        "type": "function",
        "z": "b17fe93b691a0413",
        "g": "949e4a0305af9a81",
        "name": "moyenne lux",
        "func": "msg.topic = `\n  SELECT ROUND(AVG(lux), 2) AS moyenne_lux\n  FROM mesures\n  WHERE date >= NOW() - INTERVAL 5 MINUTE\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 760,
        "wires": [
            [
                "2e0f76c66e9b9f4d"
            ]
        ]
    },
    {
        "id": "76a45739ebec1c5e",
        "type": "mqtt in",
        "z": "b17fe93b691a0413",
        "g": "a86b0c43737a4956",
        "name": "vent ",
        "topic": "capteur/vent ",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "16f1c4c15983079e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 430,
        "y": 960,
        "wires": [
            [
                "5a6bc7e0a2904f59"
            ]
        ]
    },
    {
        "id": "5a6bc7e0a2904f59",
        "type": "function",
        "z": "b17fe93b691a0413",
        "g": "a86b0c43737a4956",
        "name": "vent fonc",
        "func": "let data = JSON.parse(msg.payload);\nmsg.topic = \"INSERT INTO mesures (vent , date) VALUES (?, NOW())\";\nmsg.payload = [data.temp];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 960,
        "wires": [
            [
                "3566780bc7fe54f2"
            ]
        ]
    },
    {
        "id": "3566780bc7fe54f2",
        "type": "mysql",
        "z": "b17fe93b691a0413",
        "g": "a86b0c43737a4956",
        "mydb": "9e13d4612c44da61",
        "name": "",
        "x": 770,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "a484ab06f72a413e",
        "type": "inject",
        "z": "b17fe93b691a0413",
        "g": "a86b0c43737a4956",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "moyenne vent timer",
        "payload": "",
        "payloadType": "date",
        "x": 450,
        "y": 920,
        "wires": [
            [
                "4c5ee03254f9181b"
            ]
        ]
    },
    {
        "id": "fdbe71cca8c1ccda",
        "type": "mysql",
        "z": "b17fe93b691a0413",
        "g": "a86b0c43737a4956",
        "mydb": "9e13d4612c44da61",
        "name": "",
        "x": 770,
        "y": 920,
        "wires": [
            [
                "7b60c67aaf3fc13c"
            ]
        ]
    },
    {
        "id": "4c5ee03254f9181b",
        "type": "function",
        "z": "b17fe93b691a0413",
        "g": "a86b0c43737a4956",
        "name": "moyenne vent ",
        "func": "msg.topic = `\n  SELECT ROUND(AVG(vent ), 2) AS moyenne_vent \n  FROM mesures\n  WHERE date >= NOW() - INTERVAL 5 MINUTE\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 920,
        "wires": [
            [
                "fdbe71cca8c1ccda"
            ]
        ]
    },
    {
        "id": "476b80bb655cd66f",
        "type": "ui_button",
        "z": "b17fe93b691a0413",
        "name": "",
        "group": "884da7b7a864ddfb",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "▶️",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "next",
        "payloadType": "str",
        "topic": "▶️",
        "topicType": "msg",
        "x": 1310,
        "y": 180,
        "wires": [
            [
                "32f729979dbe2934"
            ]
        ]
    },
    {
        "id": "4488752ea288a7e6",
        "type": "ui_button",
        "z": "b17fe93b691a0413",
        "name": "",
        "group": "884da7b7a864ddfb",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "◀️",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "prev",
        "payloadType": "str",
        "topic": "◀️",
        "topicType": "msg",
        "x": 1310,
        "y": 140,
        "wires": [
            [
                "32f729979dbe2934"
            ]
        ]
    },
    {
        "id": "32f729979dbe2934",
        "type": "function",
        "z": "b17fe93b691a0413",
        "name": "function 1",
        "func": "let index = flow.get(\"moyenne_index\") || 0;\n\nif (msg.payload === \"next\") {\n  index = (index + 1) % 6;\n} else if (msg.payload === \"prev\") {\n  index = (index - 1 + 6) % 6;\n}\n\nflow.set(\"moyenne_index\", index);\nmsg.payload = index;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 160,
        "wires": [
            [
                "2d52cde35175f6bd"
            ]
        ]
    },
    {
        "id": "2d52cde35175f6bd",
        "type": "function",
        "z": "b17fe93b691a0413",
        "name": "function 2",
        "func": "const index = msg.payload;\nconst requetes = [\n  \"SELECT ROUND(AVG(temperature), 1) AS value FROM mesures WHERE date >= NOW() - INTERVAL 5 MINUTE\",\n  \"SELECT ROUND(AVG(humidite), 1) AS value FROM mesures WHERE date >= NOW() - INTERVAL 5 MINUTE\",\n  \"SELECT ROUND(AVG(pression), 1) AS value FROM mesures WHERE date >= NOW() - INTERVAL 5 MINUTE\",\n  \"SELECT ROUND(AVG(co2), 1) AS value FROM mesures WHERE date >= NOW() - INTERVAL 5 MINUTE\",\n  \"SELECT ROUND(AVG(lux), 1) AS value FROM mesures WHERE date >= NOW() - INTERVAL 5 MINUTE\",\n  \"SELECT ROUND(AVG(vent), 1) AS value FROM mesures WHERE date >= NOW() - INTERVAL 5 MINUTE\"\n];\n\nmsg.topic = requetes[index];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1580,
        "y": 160,
        "wires": [
            [
                "f6c6172448113d58",
                "83c834d1fae22940"
            ]
        ]
    },
    {
        "id": "f6c6172448113d58",
        "type": "mysql",
        "z": "b17fe93b691a0413",
        "mydb": "9e13d4612c44da61",
        "name": "",
        "x": 1730,
        "y": 160,
        "wires": [
            [
                "42e36a980cf5a6c6",
                "f22feda888b0768e"
            ]
        ]
    },
    {
        "id": "83c834d1fae22940",
        "type": "ui_text",
        "z": "b17fe93b691a0413",
        "group": "884da7b7a864ddfb",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "controle",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1740,
        "y": 100,
        "wires": []
    },
    {
        "id": "42e36a980cf5a6c6",
        "type": "function",
        "z": "b17fe93b691a0413",
        "name": "function 3",
        "func": "const types = [\"Température\", \"Humidité\", \"Pression\", \"CO2\", \"Lumière\", \"vent\"];\nlet index = flow.get(\"moyenne_index\") || 0;\nlet valeur = msg.payload[0].value;\n\nmsg.payload = `${types[index]}: ${valeur}`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1880,
        "y": 160,
        "wires": [
            [
                "6dfbcaf2ace8715b"
            ]
        ]
    },
    {
        "id": "6dfbcaf2ace8715b",
        "type": "mqtt out",
        "z": "b17fe93b691a0413",
        "name": "lcd",
        "topic": "lcd/texte",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "16f1c4c15983079e",
        "x": 2010,
        "y": 160,
        "wires": []
    },
    {
        "id": "040ac3982e4bf135",
        "type": "mqtt out",
        "z": "b17fe93b691a0413",
        "name": "led",
        "topic": "led/indicator",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "16f1c4c15983079e",
        "x": 2010,
        "y": 220,
        "wires": []
    },
    {
        "id": "f22feda888b0768e",
        "type": "function",
        "z": "b17fe93b691a0413",
        "name": "function 5",
        "func": "//const types = [\"Température\", \"Humidité\", \"Pression\", \"CO2\", \"Lumière\", \"vent\"]; pour indication\n\nlet index = flow.get(\"moyenne_index\") || 0;\nlet val = msg.payload[0].value;\n\nconst min = [-10, 0, 950, 400, 0, 0];\nconst max = [40, 100, 1050, 2000, 500, 70];\n\n\n// Clamp la valeur dans les bornes\nconst ratio = Math.min(Math.max((val - min[index]) / (max[index] - min[index]), 0), 1);\n\n// Détermine le nombre de LEDs à allumer (1 à 8)\nconst ledCount = Math.round(ratio * 7) + 1;\n\nconst lux2 = Math.round(255*4*(ratio-ratio**(2)));\nconst lux1 = Math.round(255*ratio-lux2/2) ;\nconst lux3 = Math.round(255*(1-ratio)-lux2/2); \n\nconst co1 = Math.round(255 * (1 - ratio));\nconst co2 =Math.round(255 * ratio);\n\n// Couleur dégradée du rouge (min) au vert (max)\nconst r = [co2, co1, co2, 255, lux1+lux2+lux3/4,co2];\nconst g = [0, co1, co2, co2, lux1/2+lux2+lux3/4,255];\nconst b = [co1, 255, 255, 0, lux2+lux3,co2];\n\n// Génère un tableau de 8 LEDs\nconst leds = [];\nfor (let i = 0; i < 8; i++) {\n    if (i < ledCount) {\n        leds.push([r[index], g[index], b[index]]); // LED allumée\n    } else {\n        leds.push([0, 0, 0]); // LED éteinte\n    }\n}\n\n// Envoi à ESPHome via MQTT\nmsg.topic = \"esp32/barre_led/set\";\nmsg.payload = {\n    effect: \"addressable_lambda\",\n    brightness: 255,\n    color_type: \"rgb\",\n    rgb: leds\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1880,
        "y": 220,
        "wires": [
            [
                "040ac3982e4bf135"
            ]
        ]
    },
    {
        "id": "21c6d64122a0da62",
        "type": "inject",
        "z": "b17fe93b691a0413",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1150,
        "y": 160,
        "wires": [
            [
                "4488752ea288a7e6",
                "476b80bb655cd66f",
                "9a7fe63e170d0728"
            ]
        ]
    },
    {
        "id": "275dc4fb225abaa1",
        "type": "mqtt out",
        "z": "b17fe93b691a0413",
        "name": "MQTT Alerte ON",
        "topic": "buzzer/etat",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "16f1c4c15983079e",
        "x": 2350,
        "y": 280,
        "wires": []
    },
    {
        "id": "5295620bd27effe5",
        "type": "mysql",
        "z": "b17fe93b691a0413",
        "mydb": "9e13d4612c44da61",
        "name": "",
        "x": 1750,
        "y": 300,
        "wires": [
            [
                "0b198779a59e4797"
            ]
        ]
    },
    {
        "id": "9a7fe63e170d0728",
        "type": "function",
        "z": "b17fe93b691a0413",
        "name": "function 4",
        "func": "const requetes = [\n  { type: \"Température\",  sql: \"SELECT ROUND(AVG(temperature), 1) AS value FROM mesures WHERE date >= NOW() - INTERVAL 5 MINUTE\" },\n  { type: \"Humidité\",     sql: \"SELECT ROUND(AVG(humidite), 1) AS value FROM mesures WHERE date >= NOW() - INTERVAL 5 MINUTE\" },\n  { type: \"Pression\",     sql: \"SELECT ROUND(AVG(pression), 1) AS value FROM mesures WHERE date >= NOW() - INTERVAL 5 MINUTE\" },\n  { type: \"CO2\",          sql: \"SELECT ROUND(AVG(co2), 1) AS value FROM mesures WHERE date >= NOW() - INTERVAL 5 MINUTE\" },\n  { type: \"Lumière\",      sql: \"SELECT ROUND(AVG(lux), 1) AS value FROM mesures WHERE date >= NOW() - INTERVAL 5 MINUTE\" },\n  { type: \"Vent\",         sql: \"SELECT ROUND(AVG(vent), 1) AS value FROM mesures WHERE date >= NOW() - INTERVAL 5 MINUTE\" }\n];\n\n// on ajoute type pour le garder dans chaque msg\nmsg.payload = requetes;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 300,
        "wires": [
            [
                "2c5fdff6fc79bb20"
            ]
        ]
    },
    {
        "id": "0b198779a59e4797",
        "type": "function",
        "z": "b17fe93b691a0413",
        "name": "function 6",
        "func": "// Liste des seuils\nconst seuils = {\n    \"Température\": 32,\n    \"Humidité\": 60,\n    \"Pression\": 1015,\n    \"CO2\": 1000,\n    \"Lumière\": 40000,\n    \"Vent\": 20\n};\n\n// msg.payload doit être un tableau d'objets comme :\n// [{ type: \"Température\", value: 26.5 }, ...]\n\nlet alerte = false;\n\nfor (let mesure of msg.payload) {\n    const type = mesure.type;\n    const valeur = mesure.value ?? null;\n    const seuil = seuils[type];\n\n    if (valeur !== null && valeur > seuil) {\n        alerte = true;\n        break;  // Dès qu'une alerte est détectée, inutile de continuer\n    }\n}\n\nmsg.payload = alerte;  // true ou false\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1880,
        "y": 300,
        "wires": [
            [
                "f062dacc2fd08c6c"
            ]
        ]
    },
    {
        "id": "2c5fdff6fc79bb20",
        "type": "split",
        "z": "b17fe93b691a0413",
        "name": "split moyenne",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 1460,
        "y": 300,
        "wires": [
            [
                "1d692f89b50c181f"
            ]
        ]
    },
    {
        "id": "1d692f89b50c181f",
        "type": "function",
        "z": "b17fe93b691a0413",
        "name": "function 8",
        "func": "msg.topic = msg.payload.sql;\nmsg.type = msg.payload.type;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 300,
        "wires": [
            [
                "5295620bd27effe5"
            ]
        ]
    },
    {
        "id": "5e95f6de10f5531f",
        "type": "mqtt out",
        "z": "b17fe93b691a0413",
        "name": "MQTT Alerte OFF",
        "topic": "buzzer/etat",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "16f1c4c15983079e",
        "x": 2350,
        "y": 320,
        "wires": []
    },
    {
        "id": "f062dacc2fd08c6c",
        "type": "switch",
        "z": "b17fe93b691a0413",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2020,
        "y": 300,
        "wires": [
            [
                "bb7cb5322e57ea89"
            ],
            [
                "aa4b07c9c3a5edd9"
            ]
        ]
    },
    {
        "id": "bb7cb5322e57ea89",
        "type": "function",
        "z": "b17fe93b691a0413",
        "name": "function 7",
        "func": "msg.payload = \"ON\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2180,
        "y": 280,
        "wires": [
            [
                "275dc4fb225abaa1"
            ]
        ]
    },
    {
        "id": "aa4b07c9c3a5edd9",
        "type": "function",
        "z": "b17fe93b691a0413",
        "name": "function 9",
        "func": "msg.payload = \"OFF\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2180,
        "y": 320,
        "wires": [
            [
                "5e95f6de10f5531f"
            ]
        ]
    },
    {
        "id": "2d951a332e016a80",
        "type": "join",
        "z": "b17fe93b691a0413",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "6",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1340,
        "y": 520,
        "wires": [
            [
                "b17c4a35f3680b67"
            ]
        ]
    },
    {
        "id": "45f74052abcba61b",
        "type": "function",
        "z": "b17fe93b691a0413",
        "name": "function 12",
        "func": "msg.topic = ['temp', 'hum', 'pressure', 'co2', 'lux', 'wind'][1];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 440,
        "wires": [
            [
                "2d951a332e016a80"
            ]
        ]
    },
    {
        "id": "e53dc73c462080b3",
        "type": "function",
        "z": "b17fe93b691a0413",
        "name": "function 13",
        "func": "msg.topic = ['temp', 'hum', 'pressure', 'co2', 'lux', 'wind'][0];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 380,
        "wires": [
            [
                "2d951a332e016a80"
            ]
        ]
    },
    {
        "id": "632fd8efd4e29291",
        "type": "function",
        "z": "b17fe93b691a0413",
        "name": "function 14",
        "func": "msg.topic = ['temp', 'hum', 'pressure', 'co2', 'lux', 'wind'][2];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 500,
        "wires": [
            [
                "2d951a332e016a80"
            ]
        ]
    },
    {
        "id": "a742770e4462f204",
        "type": "function",
        "z": "b17fe93b691a0413",
        "name": "function 15",
        "func": "msg.topic = ['temp', 'hum', 'pressure', 'co2', 'lux', 'wind'][3];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 560,
        "wires": [
            [
                "2d951a332e016a80"
            ]
        ]
    },
    {
        "id": "abf0cb6231c56b46",
        "type": "function",
        "z": "b17fe93b691a0413",
        "name": "function 16",
        "func": "msg.topic = ['temp', 'hum', 'pressure', 'co2', 'lux', 'wind'][4];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 620,
        "wires": [
            [
                "2d951a332e016a80"
            ]
        ]
    },
    {
        "id": "7b60c67aaf3fc13c",
        "type": "function",
        "z": "b17fe93b691a0413",
        "name": "function 17",
        "func": "msg.topic = ['temp', 'hum', 'pressure', 'co2', 'lux', 'wind'][5];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 680,
        "wires": [
            [
                "2d951a332e016a80"
            ]
        ]
    },
    {
        "id": "b7440dcce4a0ba2d",
        "type": "inject",
        "z": "b17fe93b691a0413",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 1320,
        "y": 420,
        "wires": [
            [
                "ac189a7fee88b439"
            ]
        ]
    },
    {
        "id": "7efa09415d6f6cf7",
        "type": "ui_template",
        "z": "b17fe93b691a0413",
        "group": "5e9bff8d93da06d6",
        "name": "",
        "order": 1,
        "width": "40",
        "height": "16",
        "format": "<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>Météo Animée</title>\n  <style>\n    html, body {\n      margin: 0; padding: 0; height: 100%; width: 100%; overflow: hidden;\n      font-family: sans-serif;\n      transition: background 1s ease-in-out;\n      position: relative;\n      background: linear-gradient(to top, #90dffe, #38a3d1);\n    }\n\n    #sky {\n      position: relative;\n      width: 100vw;\n      height: 100vh;\n      background: linear-gradient(to top, #90dffe, #38a3d1);\n      overflow: hidden;\n      transition: background 1s ease-in-out;\n    }\n\n    .sun {\n      position: absolute;\n      top: 10%;\n      left: 50%;\n      transform: translateX(-50%);\n      border-radius: 50%;\n      display: flex;\n      flex-direction: column;\n      justify-content: center;\n      align-items: center;\n      color: black;\n      text-shadow: 1px 1px 2px white;\n      font-weight: bold;\n      transition: all 1s ease;\n      z-index: 10;\n      font-size: 1.5em;\n      user-select: none;\n      pointer-events: none;\n      background: orange;\n      box-shadow: 0 0 15px 5px orange;\n      padding: 10px;\n      min-width: 90px;\n      min-height: 90px;\n      line-height: 1.2;\n      text-align: center;\n    }\n\n    .cloud {\n      position: absolute;\n      background: #fff;\n      border-radius: 100px;\n      /* Suppression des box-shadow blancs */\n      transition: opacity 1s, filter 1s;\n      animation: float 2s ease-in-out infinite;\n      display: flex;\n      flex-direction: column;\n      justify-content: center;\n      align-items: center;\n      color: #333;\n      text-align: center;\n      font-weight: bold;\n      will-change: transform;\n      z-index: 15; /* Nuages devant soleil */\n      user-select: none;\n      pointer-events: none;\n      font-size: 1.2em;\n      padding: 10px;\n      min-width: 140px;\n      min-height: 80px;\n      line-height: 1.1;\n      box-sizing: border-box;\n    }\n\n    .cloud::after {\n      content: \"\";\n      position: absolute;\n      bottom: 5px;\n      left: 50%;\n      transform: translateX(-50%);\n      width: 140px;\n      height: 30px;\n      background: rgba(0, 0, 0, 0.25);\n      filter: blur(15px);\n      border-radius: 50%;\n      z-index: 5;  /* sous le nuage */\n      pointer-events: none;\n    }\n\n    @keyframes float {\n      0%, 100% { transform: translateY(0); }\n      50% { transform: translateY(-10px); }\n    }\n\n    .raindrop {\n      position: absolute;\n      width: 4px;\n      height: 15px;\n      background: #3fa9f5;\n      border-radius: 50%;\n      opacity: 0.7;\n      animation: fall linear forwards;\n      pointer-events: none;\n      z-index: 8;\n    }\n\n    @keyframes fall {\n      0% { transform: translateY(0); opacity: 0.7; }\n      100% { transform: translateY(100vh); opacity: 0; }\n    }\n\n    #dataPanel {\n      position: absolute;\n      bottom: 0;\n      left: 0;\n      width: 100%;\n      background: rgba(255,255,255,0.8);\n      font-size: 14px;\n      color: #333;\n      padding: 8px 15px;\n      box-sizing: border-box;\n      font-family: monospace;\n      z-index: 20;\n      display: flex;\n      justify-content: space-around;\n      flex-wrap: wrap;\n    }\n\n    #dataPanel div {\n      min-width: 120px;\n      margin: 3px 10px;\n    }\n\n  </style>\n</head>\n<body>\n  <div id=\"sky\">\n    <div id=\"sun\" class=\"sun\">--<br><small>Lux: --</small></div>\n    <div id=\"cloud1\" class=\"cloud\" style=\"top: 30%;\">☁️<br><small>Hum: --</small></div>\n    <div id=\"cloud2\" class=\"cloud\" style=\"top: 55%;\">☁️<br><small>Vent: --</small></div>\n  </div>\n\n  <div id=\"dataPanel\">\n    <div id=\"tempData\">Température : --</div>\n    <div id=\"humData\">Humidité : --</div>\n    <div id=\"pressureData\">Pression : --</div>\n    <div id=\"co2Data\">CO2 : --</div>\n    <div id=\"luxData\">Luminosité : --</div>\n    <div id=\"windData\">Vent : --</div>\n  </div>\n\n  <script>\n    (function(scope) {\n      let rainInterval = null;\n      let lastTimestamp = null;\n\n      const clouds = [\n        {el: document.getElementById('cloud1'), x: 0, width: 0},\n        {el: document.getElementById('cloud2'), x: 0, width: 0}\n      ];\n\n      function initClouds() {\n        clouds.forEach(cloud => {\n          const rect = cloud.el.getBoundingClientRect();\n          cloud.width = rect.width;\n          cloud.x = Math.random() * window.innerWidth;\n          cloud.el.style.left = cloud.x + 'px';\n        });\n      }\n      initClouds();\n\n      function createRaindrop(cloudEl) {\n        const drop = document.createElement(\"div\");\n        drop.className = \"raindrop\";\n\n        const cloudRect = cloudEl.getBoundingClientRect();\n        const left = cloudRect.left + Math.random() * cloudRect.width;\n        const top = cloudRect.bottom;\n\n        drop.style.left = left + \"px\";\n        drop.style.top = top + \"px\";\n\n        drop.style.animationDuration = (Math.random() * 1 + 0.5) + \"s\";\n\n        document.body.appendChild(drop);\n\n        drop.addEventListener('animationend', () => {\n          drop.remove();\n        });\n      }\n\n      function kmhToPxPerSec(kmh) {\n        const coefficient = window.innerWidth / 5000;\n        return kmh * coefficient;\n      }\n\n      function animate(time) {\n        if (!lastTimestamp) lastTimestamp = time;\n        const delta = (time - lastTimestamp) / 1000;\n        lastTimestamp = time;\n\n        clouds.forEach(cloud => {\n          let windSpeed = currentWindVal || 0;\n          const speedPxPerSec = kmhToPxPerSec(windSpeed);\n          cloud.x += speedPxPerSec * delta;\n\n          if (cloud.x > window.innerWidth) {\n            cloud.x = -cloud.width;\n          }\n          cloud.el.style.left = cloud.x + 'px';\n        });\n\n        requestAnimationFrame(animate);\n      }\n\n      let currentWindVal = 0;\n      let currentHumPerc = 0;\n\n      function startRain() {\n        if (!rainInterval) {\n          rainInterval = setInterval(() => {\n            const cloud = clouds[Math.floor(Math.random() * clouds.length)];\n            createRaindrop(cloud.el);\n          }, 150);\n        }\n      }\n      function stopRain() {\n        if (rainInterval) {\n          clearInterval(rainInterval);\n          rainInterval = null;\n        }\n      }\n\n      requestAnimationFrame(animate);\n\n      scope.$watch('msg.payload', function(data) {\n        if (!data) return;\n\n        const tempPerc = Math.min(100, Math.max(0, data.temp));\n        const humPerc = Math.min(100, Math.max(0, data.hum));\n        const pressurePerc = Math.min(100, Math.max(0, data.pressure));\n        const co2Perc = Math.min(100, Math.max(0, data.co2));\n        const luxPerc = Math.min(100, Math.max(0, data.lux));\n        const windPerc = Math.min(100, Math.max(0, data.wind));\n\n        const tempVal = data.tempVal ?? '--';\n        const humVal = data.humVal ?? '--';\n        const pressureVal = data.pressureVal ?? '--';\n        const co2Val = data.co2Val ?? '--';\n        const luxVal = data.luxVal ?? '--';\n        const windVal = data.windVal ?? '--';\n\n        currentWindVal = windVal;\n        currentHumPerc = humPerc;\n\n        // Soleil - taille, couleur et texte\n        const sunSize = 100 + luxPerc * 2;\n        const sun = document.getElementById(\"sun\");\n        sun.style.width = sun.style.height = sunSize + \"px\";\n        sun.innerHTML = `${tempVal}°C<br><small>Lux: ${luxVal}</small>`;\n        const hue = 30 + (tempPerc / 100) * 30;\n        sun.style.background = `hsl(${hue}, 100%, 50%)`;\n        sun.style.boxShadow = `0 0 15px 5px hsl(${hue}, 100%, 50%)`;\n        sun.style.color = (tempPerc > 60) ? 'black' : 'black';\n\n        // Mise à jour fond ciel selon heure\n        const h = new Date().getHours();\n        const sky = document.getElementById('sky');\n        switch(true) {\n          case (h >= 6 && h < 12):\n            sky.style.background = 'linear-gradient(to top, #FFD194, #70E1F5)';\n            sun.style.color = 'black';\n            break;\n          case (h >= 12 && h < 18):\n            sky.style.background = 'linear-gradient(to top, #90dffe, #38a3d1)';\n            sun.style.color = 'black';\n            break;\n          case (h >= 18 && h < 21):\n            sky.style.background = 'linear-gradient(to top, #FF5F6D, #FFC371)';\n            sun.style.color = 'white';\n            break;\n          default:\n            sky.style.background = 'linear-gradient(to top, #020111, #3a3a52)';\n            sun.style.color = '#666';\n            break;\n        }\n\n        // Ombre liée au CO2 avec max 1000 ppm = max assombrissement\n        const co2Max = 1000;\n        const co2Norm = Math.min(co2Val, co2Max) / co2Max;\n        const grayVal = 255 - Math.floor(co2Norm * 200); // entre 255 (clair) et 55 (sombre)\n        if (h < 21 && h >= 6) {\n          document.body.style.background = `linear-gradient(to top, rgb(${grayVal},${grayVal},${grayVal}), #38a3d1)`;\n        } else {\n          document.body.style.background = 'none';\n        }\n\n        // Nuages : opacité, luminosité (pression entre 950 et 1050), texte humidité et vent\n        clouds.forEach((cloud, i) => {\n          cloud.el.style.opacity = humPerc / 100;\n          // Pression normalisée entre 950 et 1050\n          const pressureMin = 950;\n          const pressureMax = 1050;\n          let normalizedPressure = (pressureVal - pressureMin) / (pressureMax - pressureMin);\n          normalizedPressure = Math.min(1, Math.max(0, normalizedPressure));\n          cloud.el.style.filter = `brightness(${0.5 + normalizedPressure / 2})`;\n          if (i === 0) {\n            cloud.el.innerHTML = `☁️<br><small>Hum: ${humVal}%</small>`;\n          } else {\n            cloud.el.innerHTML = `☁️<br><small>Vent: ${windVal} km/h</small>`;\n          }\n        });\n\n        // Pluie continue si humidité > 70%\n        if (humPerc > 70) {\n          startRain();\n        } else {\n          stopRain();\n        }\n\n        // Mise à jour données du panneau\n        document.getElementById('tempData').textContent = `Température : ${tempVal} °C`;\n        document.getElementById('humData').textContent = `Humidité : ${humVal} %`;\n        document.getElementById('pressureData').textContent = `Pression : ${pressureVal} hPa`;\n        document.getElementById('co2Data').textContent = `CO2 : ${co2Val} ppm`;\n        document.getElementById('luxData').textContent = `Luminosité : ${luxVal} lx`;\n        document.getElementById('windData').textContent = `Vent : ${windVal} km/h`;\n      });\n    })(scope);\n  </script>\n</body>\n</html>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1740,
        "y": 520,
        "wires": [
            [
                "f8ac088455e915a6"
            ]
        ]
    },
    {
        "id": "ac189a7fee88b439",
        "type": "function",
        "z": "b17fe93b691a0413",
        "name": "function 10",
        "func": "let index = context.get(\"index\") || 0;\n\nconst dayData = [\n    // Hour:   T   H   P   C   L   W\n    {temp: 14, hum: 90, pressure : 1000, co2: 300, lux: 100, wind: 5},    // 0 AM\n    {temp: 13, hum: 92, pressure : 990, co2: 280, lux: 100, wind: 6},\n    {temp: 12, hum: 93, pressure : 980, co2: 250, lux: 100, wind: 4},\n    {temp: 12, hum: 94, pressure : 980, co2: 260, lux: 100, wind: 4},\n    {temp: 13, hum: 93, pressure : 980, co2: 280, lux: 500, wind: 5},\n    {temp: 15, hum: 90, pressure : 990, co2: 320, lux: 1500, wind: 7},   // 5 AM\n    {temp: 18, hum: 85, pressure : 1000, co2: 400, lux: 4000, wind: 10},\n    {temp: 22, hum: 70, pressure : 1010, co2: 450, lux: 6000, wind: 12},\n    {temp: 25, hum: 60, pressure : 1010, co2: 500, lux: 8000, wind: 15},\n    {temp: 28, hum: 55, pressure : 1010, co2: 520, lux: 9000, wind: 18},\n    {temp: 30, hum: 50, pressure : 1000, co2: 550, lux: 10000, wind: 20}, // 10 AM\n    {temp: 31, hum: 48, pressure : 990, co2: 600, lux: 9500, wind: 22},\n    {temp: 32, hum: 45, pressure : 980, co2: 650, lux: 9000, wind: 25},\n    {temp: 31, hum: 50, pressure : 980, co2: 680, lux: 8000, wind: 22},\n    {temp: 29, hum: 55, pressure : 990, co2: 600, lux: 7000, wind: 18},\n    {temp: 27, hum: 60, pressure : 1000, co2: 550, lux: 6000, wind: 15},\n    {temp: 25, hum: 65, pressure : 1000, co2: 520, lux: 4000, wind: 12}, // 4 PM\n    {temp: 22, hum: 70, pressure : 1010, co2: 500, lux: 2000, wind: 10},\n    {temp: 20, hum: 75, pressure : 1010, co2: 480, lux: 1000, wind: 8},\n    {temp: 18, hum: 80, pressure : 1000, co2: 450, lux: 500, wind: 6},\n    {temp: 16, hum: 85, pressure : 1000, co2: 400, lux: 200, wind: 5},\n    {temp: 15, hum: 87, pressure : 990, co2: 350, lux: 100, wind: 4},    // 9 PM\n    {temp: 14, hum: 88, pressure : 990, co2: 330, lux: 50, wind: 3},\n    {temp: 14, hum: 90, pressure : 990, co2: 300, lux: 50, wind: 3}\n];\n; // paste the array above here\n\nmsg.payload = dayData[index];\n\n// Advance to next index\nindex = (index + 1) % dayData.length;\ncontext.set(\"index\", index);\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 420,
        "wires": [
            [
                "b17c4a35f3680b67"
            ]
        ]
    },
    {
        "id": "b17c4a35f3680b67",
        "type": "function",
        "z": "b17fe93b691a0413",
        "name": "function 11",
        "func": "const min = [-10, 0, 950, 50, 0, 0];\nconst max = [40, 100, 1050, 40000, 500, 70];\nconst names = ['temp', 'hum', 'pressure', 'co2', 'lux', 'wind'];\n\nconst data = msg.payload || {};\nmsg.payload = {};\n\nnames.forEach((name, i) => {\n    const raw = data[name]; // Attention ici : on lit dans msg.payload\n    const minVal = min[i];\n    const maxVal = max[i];\n    const percent = ((raw - minVal) / (maxVal - minVal)) * 100;\n\n    msg.payload[name] = Math.max(0, Math.min(100, +percent.toFixed(1))); // pour affichage visuel\n    msg.payload[`${name}Val`] = raw; // pour l'affichage réel\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1550,
        "y": 520,
        "wires": [
            [
                "7efa09415d6f6cf7"
            ]
        ]
    },
    {
        "id": "527ebf87f7f396f1",
        "type": "mqtt in",
        "z": "b17fe93b691a0413",
        "name": "bme280",
        "topic": "capteur/bmp280",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "16f1c4c15983079e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 60,
        "y": 340,
        "wires": [
            [
                "11d4f89e2ac46cd7",
                "9838104aa45f1982",
                "8aa8e4e274e1cb53"
            ]
        ]
    },
    {
        "id": "11d4f89e2ac46cd7",
        "type": "function",
        "z": "b17fe93b691a0413",
        "name": "function 18",
        "func": "msg.paylode=msg.payload[0];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 220,
        "wires": [
            [
                "ea200280c835bfd0"
            ]
        ]
    },
    {
        "id": "9838104aa45f1982",
        "type": "function",
        "z": "b17fe93b691a0413",
        "name": "function 20",
        "func": "msg.paylode=msg.payload[1];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 300,
        "wires": [
            [
                "a6e5588014f2f5ec"
            ]
        ]
    },
    {
        "id": "8aa8e4e274e1cb53",
        "type": "function",
        "z": "b17fe93b691a0413",
        "name": "function 21",
        "func": "msg.paylode=msg.payload[2];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 460,
        "wires": [
            [
                "9c3733843947a9ec"
            ]
        ]
    },
    {
        "id": "364d5ffeccdd6b9f",
        "type": "inject",
        "z": "b17fe93b691a0413",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 1060,
        "y": 1040,
        "wires": [
            [
                "34f6c7aa50a7b6bb"
            ]
        ]
    },
    {
        "id": "b07472f665bdacc9",
        "type": "mysql",
        "z": "b17fe93b691a0413",
        "mydb": "9e13d4612c44da61",
        "name": "",
        "x": 1350,
        "y": 1040,
        "wires": [
            [
                "740515c3c4c453e7"
            ]
        ]
    },
    {
        "id": "34f6c7aa50a7b6bb",
        "type": "function",
        "z": "b17fe93b691a0413",
        "name": "function 19",
        "func": "msg.topic = `\n  SELECT \n    DATE_FORMAT(date, '%Y-%m-%d %H:00:00') AS heure,\n    ROUND(AVG(temperature), 2) AS temp_moy,\n    ROUND(AVG(hum), 2) AS hum_moy,\n    ROUND(AVG(co2), 2) AS co2_moy,\n    ROUND(AVG(lux), 2) AS lux_moy,\n    ROUND(AVG(wind), 2) AS wind_moy,\n    ROUND(AVG(pressure), 2) AS pression_moy\n  FROM mesures\n  WHERE date >= NOW() - INTERVAL 7 DAY\n  GROUP BY heure\n  ORDER BY heure ASC\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 1040,
        "wires": [
            [
                "b07472f665bdacc9"
            ]
        ]
    },
    {
        "id": "740515c3c4c453e7",
        "type": "function",
        "z": "b17fe93b691a0413",
        "name": "function 22",
        "func": "// msg.payload contient un tableau d'objets (une ligne = une heure)\nlet labels = [];\nlet temp = [], hum = [], co2 = [], lux = [], wind = [], pressure = [];\n\nmsg.payload.forEach(row => {\n    labels.push(row.heure);\n    temp.push(row.temp_moy);\n    hum.push(row.hum_moy);\n    co2.push(row.co2_moy);\n    lux.push(row.lux_moy);\n    wind.push(row.wind_moy);\n    pressure.push(row.pression_moy);\n});\n\n// Formater pour le ui_chart multiligne\nmsg.payload = [\n    { series: [\"Température\"], data: [temp], labels: labels },\n    { series: [\"Humidité\"], data: [hum], labels: labels },\n    { series: [\"CO2\"], data: [co2], labels: labels },\n    { series: [\"Lumière\"], data: [lux], labels: labels },\n    { series: [\"Vent\"], data: [wind], labels: labels },\n    { series: [\"Pression\"], data: [pressure], labels: labels }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1490,
        "y": 1040,
        "wires": [
            [
                "f0c0f3c52484c32e"
            ]
        ]
    },
    {
        "id": "f0c0f3c52484c32e",
        "type": "ui_chart",
        "z": "b17fe93b691a0413",
        "name": "",
        "group": "884da7b7a864ddfb",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1630,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "f8ac088455e915a6",
        "type": "debug",
        "z": "b17fe93b691a0413",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1880,
        "y": 440,
        "wires": []
    },
    {
        "id": "9e13d4612c44da61",
        "type": "MySQLdatabase",
        "name": "BD",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "data",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "16f1c4c15983079e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.ci-ciad.utbm.fr",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "884da7b7a864ddfb",
        "type": "ui_group",
        "name": "screen controle",
        "tab": "0c2d5b718af270ac",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5e9bff8d93da06d6",
        "type": "ui_group",
        "name": "data",
        "tab": "d42cef8cb488483e",
        "order": 1,
        "disp": false,
        "width": "40",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0c2d5b718af270ac",
        "type": "ui_tab",
        "name": "contole",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d42cef8cb488483e",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]